body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 50px;
  font-family: "Sacramento", cursive;
  font-size: 100px;
  margin-bottom: 0px;
  color: #66bfbf;
}

h2 {
  color: #66bfbf;
}

h3 {
  color: #11999e;
}

h2,
h3 {
  font-family: "Oswald", sans-serif;
}

p {
  line-height: 2;
}

.mountain {
  position: relative;
  bottom: 40px;
}

.title {
  font-size: 40px;
  margin-top: 0px;
  font-weight: normal;
}

.top-container {
  padding-top: 5%;
  background-color: #ddfaf5;
  position: relative;
  padding-bottom: 3%;
}

.top-cloud {
  position: absolute;
  left: 65%;
  top: 7%;
}

.bottom-cloud {
  position: absolute;
  right: 65%;
  bottom: 55%;
}

.middle-container {
  height: auto;
  width: auto;
  margin-bottom: 50px;
}
.bottom-container {
  background-color: #66bfbf;
  margin-bottom: 0px;
  padding: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  width: 35%;
  float: right;
  margin-left: 30px;
}

.self-decription {
  width: 33%;
  margin: auto;
}

.self-img {
  margin-top: 40px;
  width: 12%;
}

.rule {
  border: none;
  border-top: dotted 2px;
  width: 5%;
  border-width: 5px;
  color: #eaf6f6;
  margin-top: 55px;
  margin-bottom: 75px;
}

.subheading {
  font-size: 48px;
}

.last-line {
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #eaf6f6;
}

.footer-link {
  margin: 15px;
  text-decoration: none;
  color: #11999e;
}
.footer-link:hover {
  color: #eaf6f6;
}

.btn {
  background-color: #66bfbf;
  height: auto;
  width: auto;
  margin: 25px auto;
  border-radius: 50px;
  padding: 12px 23px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.btn:hover {
  background-color: #ddfaf5;
  color: #66bfbf;
}

.line-before-btn {
  width: 35%;
  margin: auto;
  margin-bottom: 20px;
}

.credit-flaticon {
  display: none;
}

.cube-names {
  font-style: italic;
}
